body {
    font-family: Arial, sans-serif;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210828/pngtree-digital-matrix-encryption-green-abstract-background-image_770050.jpg");
    margin: 0;
    padding: 0;
  }

  div{
    align-self: center;
    height: 50%;
    width: 50%;
    padding: 5%;
    border: 5%;
    background-color: whitesmoke;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
  }
  
  p {
    text-align: center;
    color: #555;
  }
  
  label {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  
  textarea, input[type="number"] {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #result {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  